@model Loguate.Models.Cliente

@{
    ViewBag.Title = Model.CodigoRNC + " " + Model.Nombre;
   //Layout = null;
}

<ol class="breadcrumb">
    <li><a href="~/Clientes/IndexClientes" style="color:blue">Clientes</a></li>
    <li class="active">Cliente: @Model.Nombre</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">Informacion del cliente</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>RNC</dt>
            <dd>@Model.CodigoRNC </dd>
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
            @*<dt>Contacto</dt>
            <dd>@Model.telefonoContacto</dd>*@
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Productos instalados en el cliente</div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var p in Model.Productos)
            {
                <li class="list-group-item">@p.Nombre</li>
            }
        </ul>
    </div>
</div>





